Repository Kosikowski/swifty-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports, validate-package-swift, check-readme

swiftformat:
  name: SwiftFormat
  entry: swiftformat
  language: system
  args:
  - --config
  - .swiftformat

check-todos:
  name: Check TODOs/FIXMEs
  entry: bash -c 'if grep -rn "TODO\|FIXME\|XXX\|HACK" Sources/ --include="*.swift" 2>/dev/null; then echo "⚠️  Found TODO/FIXME/XXX/HACK comments in Sources/. Consider addressing them."; fi'
  language: system
  pass_filenames: false

check-debug-prints:
  name: Check Debug Prints
  entry: bash -c 'if grep -rn "print(" Sources/ --include="*.swift" 2>/dev/null; then echo "⚠️  Found print() statements in Sources/. Consider using proper logging."; exit 1; fi'
  language: system
  pass_filenames: false

check-comprehensive-word:
  name: Check Comprehensive Word
  ...

check-llama-imports:
  name: Check LLAMA Imports
  ...

validate-package-swift:
  name: Validate Package.swift
  entry: bash -c 'swift package dump-package > /dev/null 2>&1 || (echo "❌ Package.swift validation failed!"; exit 1)'
  language: system
  pass_filenames: false

check-readme:
  name: Check README
  entry: bash -c 'if [ ! -f README.md ]; then echo "❌ README.md not found!"; exit 1; fi'
  language: system
  pass_filenames: false

Fix segmentation fault in SwiftyCoreLlama by properly clearing KV cache
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Fix compilation errors and test failures in SwiftyCoreLlama
  Sources/SwiftyLlama/GenerationCoordinator.swift
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
  Sources/SwiftyLlama/SwiftyCoreLlamaDemo.swift
  Sources/SwiftyLlama/SwiftyLlamaCore.swift
  Sources/SwiftyLlama/SwiftyLlamaTypes.swift
  Tests/SwiftyLlamaTests/Empty.swift
  Tests/SwiftyLlamaTests/GenerationCoordinatorTests.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaDemoTests.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaCoreTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Add comprehensive cancellation tests for SwiftyCoreLlama
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Migrated SwiftyCoreLlamaTests to use Testig framework
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-comprehensive-word, check-llama-imports

Removed unnecessary expectation from tests
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-comprehensive-word, check-llama-imports

Fix unused token variable in cancellation test
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Deleted SwiftyCoreLlamaDemo
  Sources/SwiftyLlama/SwiftyCoreLlamaDemo.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaDemoTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Refactor NSErrors to GenerationError and update unit tests
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
  Sources/SwiftyLlama/SwiftyLlamaTypes.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Format code and improve documentation for conversation persistence feature
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
  Sources/SwiftyLlama/SwiftyLlamaTypes.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Fine tuning capabilities added - initial apprach
  Sources/SwiftyLlama/SwiftyLlamaTypes.swift
  Sources/SwiftyLlama/SwiftyTuningLlama.swift
  Tests/SwiftyLlamaTests/SwiftyTuningLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Fix intermittently failing evaluation test in SwiftyTuningLlamaTests
  Sources/SwiftyLlama/SwiftyTuningLlama.swift
  Tests/SwiftyLlamaTests/SwiftyTuningLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

More unit tests for SwiftyTuningLlama
  Sources/SwiftyLlama/SwiftyTuningLlama.swift
  Tests/SwiftyLlamaTests/SwiftyTuningLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

SwiftyCoreaLlama target clean up
  Sources/SLlama/SLlamaCoreActor.swift
  Sources/SwiftyLlama/Common/SLlamaTypes.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/ConversationID.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/ConversationInfo.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationError.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationInfo.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationParams.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationStream.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/ModelInfo.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/VocabInfo.swift
  Sources/SwiftyLlama/Generation/SwiftyCoreLlama.swift
  Sources/SwiftyLlama/SwiftyLlamaTypes.swift
  Sources/SwiftyLlama/Tuning/SwiftyTuningLlama.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/EvaluationMetrics.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/LoRAAdapter.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/LoRACompatibility.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/LoRAMetadata.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/MessageRole.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/QLoRAConfig.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingConfig.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingConversation.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingDataset.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingExample.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingMessage.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingMetrics.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingSession.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingStatus.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TuningError.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Add SwiftyTuningLlamaProtocol for fine-tuning interface
  Sources/SwiftyLlama/Tuning/SwiftyTuningLlamaProtocol.swift
  Tests/SwiftyLlamaTests/SwiftyTuningLlamaProtocolTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

some cleanup and refactoring
  Sources/SwiftyLlama/Tuning/SwiftyLlamaTuner.swift
  Sources/SwiftyLlama/Tuning/SwiftyTuningLlamaProtocol.swift
  Sources/TestUtilities/TestUtilities.swift
  Tests/SwiftyLlamaTests/SwiftyTuningLlamaProtocolTests.swift
  Tests/SwiftyLlamaTests/SwiftyTuningLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Renamed SwiftyLlamaCore to SwiftyLlama
  Sources/SwiftyLlama/Generation/SwiftyLlama.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Add detailed documentation for SwiftyLlama
  Sources/SwiftyLlama/API_DOCUMENTATION.md
  Sources/SwiftyLlama/QUICK_REFERENCE.md
  Sources/SwiftyLlama/README.md
  Sources/SwiftyLlama/Tuning/SwiftyLlamaTuning.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports, check-readme

Some renaming for better readability
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTunerTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTuningProtocolTests.swift
Due: swiftformat, check-todos, check-comprehensive-word, check-llama-imports

Add comprehensive model saving capabilities to SwiftyLlamaTuner
  Package.swift
  Sources/SwiftyLlama/Tuning/SwiftyLlamaTuner.swift
  Sources/SwiftyLlama/Tuning/SwiftyLlamaTuning.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/LoRAAdapter.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/ModelSavingTypes.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingExample.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingMetrics.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TrainingSession.swift
  Sources/SwiftyLlama/Tuning/TuningTypes/TuningError.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaModelSavingTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTuningProtocolTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports, validate-package-swift

Combine GenerationID and ConversationID into SwiftyLlamaID
  Sources/SwiftyLlama/Common/SwiftyLlamaID.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/ConversationInfo.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationInfo.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationStream.swift
  Sources/SwiftyLlama/Generation/SwiftyLlama.swift
  Sources/TestUtilities/TestUtilities.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Temprarly disable some tests as a proper model files are needed for the tests to run correctrly
  Tests/SwiftyLlamaTests/SwiftyLlamaModelSavingTests.swift
Due: swiftformat, check-todos, check-comprehensive-word, check-llama-imports

Fix pre-commit validation hook
  .pre-commit-config.yaml
Due: none

Reverted ID changes
  Sources/SwiftyLlama/Generation/GenerationTypes/ConversationID.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/ConversationInfo.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationInfo.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationStream.swift
  Sources/SwiftyLlama/Generation/SwiftyLlama.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Refactor SwiftyLlama architecture and create public protocol
  Sources/SLlama/SLlamaVocab.swift
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/Conversation.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/ConversationMessage.swift
  Sources/SwiftyLlama/Generation/SwiftyLlama.swift
  Sources/SwiftyLlama/Tuning/Core/SwiftyLlamaTuner.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Implement per-conversation state management for multi-conversation support
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Enhance multi-conversation state isolation test with varied token counts
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

renamed maxCtx to contextSize
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Description added to GenerationParams
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationParams.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Add conversation title functionality and improve API naming
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/Conversation.swift
  Sources/SwiftyLlama/Generation/GenerationTypes/GenerationError.swift
  Sources/SwiftyLlama/Generation/SwiftyLlama.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Rename warmUpContext to reconstructContext for better technical clarity
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
  Sources/SwiftyLlama/Generation/SwiftyLlama.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Add backend selection parameter to SwiftyLlamaCore
  Sources/SLlama/SLlama.swift
  Sources/SLlama/SLlamaModel.swift
  Sources/SLlama/SLlamaTypes.swift
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
  Tests/SLlamaTests/SLlamaTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaTests.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

📚 Enhance documentation organization and capabilities
  README.md
  Sources/SLlama/README.md
  Sources/SwiftyLlama/README.md
Due: check-comprehensive-word, check-readme

Update README.md
  README.md
Due: check-comprehensive-word, check-readme

Rename LoRA-related test functions
  Tests/SwiftyLlamaTests/SwiftyLlamaTunerTests.swift
Due: swiftformat, check-todos, check-comprehensive-word, check-llama-imports

Wrap sampler application in buffer pointer closure
  Sources/SLlama/SLlamaSamplerChain.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Clarify conversation clearing behavior
  Sources/SwiftyLlama/Generation/Core/SwiftyLlamaCore.swift
  Sources/SwiftyLlama/Generation/SwiftyLlama.swift
Due: swiftformat, check-todos, check-debug-prints, check-comprehensive-word, check-llama-imports

Path conditions:
  swiftformat: any of: \.swift$
  check-todos: any of: \.swift$
  check-debug-prints: any of: ^Sources/.*\.swift$
  check-comprehensive-word: any of: \.(swift|md)$
  check-llama-imports: any of: \.swift$
  validate-package-swift: any of: Package\.swift$
  check-readme: any of: README\.md$
