Repository Kosikowski/swifty-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, swift-build-check, check-todos, check-debug-prints, validate-package-swift, check-readme

swiftformat:
  name: SwiftFormat
  entry: swiftformat
  language: system
  args:
  - --config
  - .swiftformat

swift-build-check:
  name: Swift Build Check
  entry: bash -c 'swift build > /dev/null 2>&1 || (echo "❌ Swift build failed! Please fix build errors before committing."; exit 1)'
  language: system
  pass_filenames: false

check-todos:
  name: Check TODOs/FIXMEs
  entry: bash -c 'if grep -rn "TODO\|FIXME\|XXX\|HACK" Sources/ --include="*.swift" 2>/dev/null; then echo "⚠️  Found TODO/FIXME/XXX/HACK comments in Sources/. Consider addressing them."; fi'
  language: system
  pass_filenames: false

check-debug-prints:
  name: Check Debug Prints
  entry: bash -c 'if grep -rn "print(" Sources/ --include="*.swift" 2>/dev/null; then echo "⚠️  Found print() statements in Sources/. Consider using proper logging."; exit 1; fi'
  language: system
  pass_filenames: false

validate-package-swift:
  name: Validate Package.swift
  entry: bash -c 'swift package dump-package > /dev/null 2>&1 || (echo "❌ Package.swift validation failed!"; exit 1)'
  language: system
  pass_filenames: false

check-readme:
  name: Check README
  entry: bash -c 'if [ ! -f README.md ]; then echo "❌ README.md not found!"; exit 1; fi'
  language: system
  pass_filenames: false

Removed all unnecessary test
  Tests/SLlamaTests/SLlamaContextTests.swift
  Tests/SLlamaTests/SLlamaMemoryTests.swift
  Tests/SLlamaTests/SLlamaSamplerTests.swift
  Tests/SLlamaTests/SLlamaStateTests.swift
  Tests/SLlamaTests/TestUtilities.swift
Due: swiftformat, swift-build-check, check-todos

Complete test suite overhaul: Improve quantization and model splitting tests
  .pre-commit-config.yaml
  Tests/SLlamaTests/SLlamaModelSplittingTests.swift
  Tests/SLlamaTests/SLlamaQuantizationTests.swift
Due: swiftformat, swift-build-check, check-todos

Implement comprehensive error throwing system for SLlama API
  Sources/SLlama/SLlamaAdapter.swift
  Sources/SLlama/SLlamaContext.swift
  Sources/SLlama/SLlamaInference.swift
  Sources/SLlama/SLlamaModel.swift
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SLlama/SLlamaQuantization.swift
  Sources/SLlama/SLlamaState.swift
  Sources/SLlama/SLlamaTokenizer.swift
  Sources/SLlama/SLlamaTypes.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Fix unit tests for error throwing API and resolve initialization order
  Sources/SLlama/SLlamaContext.swift
  Tests/SLlamaTests/SLlamaAdapterTests.swift
  Tests/SLlamaTests/SLlamaContextSettingsTests.swift
  Tests/SLlamaTests/SLlamaIntegrationTests.swift
  Tests/SLlamaTests/SLlamaModelTests.swift
  Tests/SLlamaTests/SLlamaTokenizerTests.swift
  Tests/SLlamaTests/TestUtilities.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Fix tests and enforce Swift API usage
  .pre-commit-config.yaml
  Sources/SLlama/SLlamaContext.swift
  Tests/SLlamaTests/SLlamaAdapterTests.swift
  Tests/SLlamaTests/SLlamaContextSettingsTests.swift
  Tests/SLlamaTests/SLlamaIntegrationTests.swift
  Tests/SLlamaTests/SLlamaModelTests.swift
  Tests/SLlamaTests/SLlamaPerformanceTests.swift
  Tests/SLlamaTests/TestUtilities.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Improve test resource handling with Bundle.module
  Package.swift
  Tests/SLlamaTests/TestUtilities.swift
Due: swiftformat, swift-build-check, check-todos, validate-package-swift

Fix pre-commit SwiftFormat configuration
  .swiftformat
  Package.swift
  Sources/SLlama/SLlamaAdapter.swift
  Sources/SLlama/SLlamaBackend.swift
  Sources/SLlama/SLlamaContext.swift
  Sources/SLlama/SLlamaInference.swift
  Sources/SLlama/SLlamaModel.swift
  Sources/SLlama/SLlamaModelSplitting.swift
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SLlama/SLlamaQuantization.swift
  Sources/SLlama/SLlamaSampler.swift
  Sources/SLlama/SLlamaSamplerChain.swift
  Sources/SLlama/SLlamaState.swift
  Sources/SLlama/SLlamaTokenizer.swift
  Sources/SLlama/SLlamaTypes.swift
  Tests/SLlamaTests/SLlamaModelSplittingTests.swift
  Tests/SLlamaTests/SLlamaPerformanceTests.swift
  Tests/SLlamaTests/SLlamaTypesTests.swift
  Tests/SLlamaTests/TestUtilities.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints, validate-package-swift

Fix unused parameters and add architectural documentation
  Sources/SLlama/SLlamaQuantization.swift
  Sources/SLlama/SLlamaSampler.swift
  Sources/SLlama/SLlamaSamplerChain.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

🔮 Replace SLlamaLogger with Omen mystical logging system
  .pre-commit-config.yaml
  API_REVIEW.md
  PRE_COMMIT_SETUP.md
  Package.swift
  Sources/Omen/Omen.swift
  Sources/Omen/README.md
  Sources/SLlama/SLlama.swift
  Sources/SLlama/SLlamaOmenCategories.swift
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SLlama/SLlamaSystemInfo.swift
  Sources/SLlama/SLlamaTypes.swift
  Tests/SLlamaTests/SLlamaSystemInfoTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints, validate-package-swift, check-readme

Rename protocols from SPLlama* to PLlama* and clean up documentation
  Sources/SLlama/SLlamaProtocols.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Implement PLlamaModel protocol for dependency injection
  Sources/Omen/Omen.swift
  Sources/SLlama/SLlamaAdapter.swift
  Sources/SLlama/SLlamaContext.swift
  Sources/SLlama/SLlamaModel.swift
  Sources/SLlama/SLlamaModelAdvanced.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Implement PLlamaContext and PLlamaInference protocols
  Sources/SLlama/SLlamaContext.swift
  Sources/SLlama/SLlamaInference.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Implement PLlamaBatch protocol for dependency injection
  Sources/SLlama/SLlamaBatch.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Implement PLlamaSampler protocol for dependency injection
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SLlama/SLlamaSampler.swift
  Sources/SLlama/SLlamaSamplerChain.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Implement PLlamaTokenizer protocol for static tokenization operations
  Sources/SLlama/SLlamaTokenizer.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

🧪 Add integration tests for tokenization with real models
  Tests/SLlamaTests/SLlamaTokenizerTests.swift
Due: swiftformat, swift-build-check, check-todos

📚 Add SLlama API documentation
  DOCS.md
  README.md
Due: check-readme

🔄 Rename SLlamaInference to SLlamaCore for better clarity
  API_REVIEW.md
  DOCS.md
  README.md
  Sources/SLlama/SLlamaCore.swift
  Sources/SLlama/SLlamaProtocols.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints, check-readme

✨ Enhance API with mystical documentation
  Sources/SLlama/SLlama.swift
  Sources/SLlama/SLlamaCore.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

✨ Implement comprehensive conditional inlining system for SLlama
  CONDITIONAL_INLINING.md
  Scripts/README.md
  Scripts/apply_comprehensive_inlining.swift
  Scripts/cleanup_existing_inlining.swift
  Scripts/fix_inlinable_access.swift
  Scripts/replace_inline_always.swift
  Sources/SLlama/SLlama.swift
  Sources/SLlama/SLlamaAdapter.swift
  Sources/SLlama/SLlamaBackend.swift
  Sources/SLlama/SLlamaBatch.swift
  Sources/SLlama/SLlamaContext.swift
  Sources/SLlama/SLlamaCore.swift
  Sources/SLlama/SLlamaLogits.swift
  Sources/SLlama/SLlamaMemory.swift
  Sources/SLlama/SLlamaModel.swift
  Sources/SLlama/SLlamaModelAdvanced.swift
  Sources/SLlama/SLlamaModelSplitting.swift
  Sources/SLlama/SLlamaOmenCategories.swift
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SLlama/SLlamaQuantization.swift
  Sources/SLlama/SLlamaSampler.swift
  Sources/SLlama/SLlamaSamplerChain.swift
  Sources/SLlama/SLlamaState.swift
  Sources/SLlama/SLlamaSystemInfo.swift
  Sources/SLlama/SLlamaTokenizer.swift
  Sources/SLlama/SLlamaVocab.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints, check-readme

🔧 Fix conditional inlining access control issues
  Scripts/fix_access_control_final.swift
  Sources/SLlama/SLlamaAdapter.swift
  Sources/SLlama/SLlamaBackend.swift
  Sources/SLlama/SLlamaCore.swift
  Sources/SLlama/SLlamaMemory.swift
  Sources/SLlama/SLlamaOmenCategories.swift
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SLlama/SLlamaSampler.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Fix XCFramework debug symbols and improve model loading for iOS Simulator
  .swiftpm/xcode/xcshareddata/xcschemes/Omen.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/SLlama-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/SLlamaTests.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/SwiftyLlama.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/SwiftyLlamaTests.xcscheme
  Package.swift
  Sources/SwiftyLlama/File.swift
  Sources/llama.cpp/llama.xcframework/Info.plist
  Tests/SLlamaTests/TestUtilities.swift
  Tests/SwiftyLlamaTests/Empty.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints, validate-package-swift

Implement GenerationCoordinator and LlamaCoreActor using SLlama API
  .gitignore
  Package.swift
  Sources/SwiftyLlama/File.swift
  Sources/SwiftyLlama/GenerationCoordinator.swift
  Sources/SwiftyLlama/LlamaCoreActor.swift
  Tests/SwiftyLlamaTests/Empty.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints, validate-package-swift

Restore resource paths - Package.swift is valid but pre-commit validation has environment issue
  Package.swift
Due: swiftformat, swift-build-check, check-todos, validate-package-swift

Added Swifyllama Unit tests
  Sources/SLlama/SLlamaAdapter.swift
  Sources/SLlama/SLlamaBackend.swift
  Tests/SLlamaTests/SLlamaQuantizationTests.swift
  Tests/SwiftyLlamaTests/GenerationCoordinatorTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaCoreTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

GenerationCoordinatorTests and SwiftyLlamaCoreTests improvements
  Sources/SwiftyLlama/GenerationCoordinator.swift
  Tests/SwiftyLlamaTests/GenerationCoordinatorTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaCoreTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Create shared TestUtilities target and refactor test utilities
  Package.swift
  Sources/TestUtilities/TestUtilities.swift
  Tests/SLlamaTests/SLlamaAdapterTests.swift
  Tests/SLlamaTests/SLlamaContextSettingsTests.swift
  Tests/SLlamaTests/SLlamaIntegrationTests.swift
  Tests/SLlamaTests/SLlamaModelTests.swift
  Tests/SLlamaTests/SLlamaPerformanceTests.swift
  Tests/SLlamaTests/SLlamaTokenizerTests.swift
  Tests/SwiftyLlamaTests/GenerationCoordinatorTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaCoreTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints, validate-package-swift

Fix GenerationCoordinator tests by adding delays for async operations
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SwiftyLlama/GenerationCoordinator.swift
  Sources/SwiftyLlama/SwiftyLlamaCore.swift
  Sources/TestUtilities/TestUtilities.swift
  Tests/SLlamaTests/SLlamaQuantizationTests.swift
  Tests/SwiftyLlamaTests/GenerationCoordinatorTests.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaCoreTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

fixed some tests
  Sources/SwiftyLlama/SwiftyLlamaCore.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaCoreTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Updated SwiftyLlamaCoreTests tests
  Sources/SwiftyLlama/SwiftyLlamaCore.swift
  Tests/SwiftyLlamaTests/SwiftyLlamaCoreTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Make all hardcoded values configurable in SLlama and SwiftyLlama
  Sources/SLlama/SLlamaModelSplitting.swift
  Sources/SLlama/SLlamaTokenizer.swift
  Sources/SwiftyLlama/GenerationCoordinator.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Fix SLlama unit tests compilation errors
  Sources/SLlama/SLlamaModelSplitting.swift
  Sources/SLlama/SLlamaTokenizer.swift
  Sources/SwiftyLlama/GenerationCoordinator.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Added tokens per second performance tests
  Sources/SLlama/SLlamaPerformance.swift
  Tests/SLlamaTests/SLlamaPerformanceTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Updated model params for faster processing
  Sources/SwiftyLlama/GenerationCoordinator.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Update pre-commit hook to ignore print statements in Tests/ and Sources/TestUtilities/
  .pre-commit-config.yaml
Due: none

make the GenerationCoordinatorTests working
  Sources/SLlama/SLlamaPerformance.swift
  Sources/SwiftyLlama/GenerationCoordinator.swift
  Tests/SwiftyLlamaTests/GenerationCoordinatorTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

SwiftyCoreLlama Demo created for tests
  Sources/SwiftyLlama/SwiftyCoreLlamaDemo.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaDemoTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Add SwiftyCoreLlama implementation and comprehensive tests
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
  Sources/SwiftyLlama/SwiftyCoreLlamaSolution.md
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Adding converation continuation capability
  Sources/SwiftyLlama/SwiftyCoreLlama.swift
  Tests/SwiftyLlamaTests/SwiftyCoreLlamaTests.swift
Due: swiftformat, swift-build-check, check-todos, check-debug-prints

Path conditions:
  swiftformat: any of: \.swift$
  swift-build-check: any of: \.swift$
  check-todos: any of: \.swift$
  check-debug-prints: any of: ^Sources/.*\.swift$
  validate-package-swift: any of: Package\.swift$
  check-readme: any of: README\.md$
